/* Base Classes */
html {
  overflow-y: scroll;
}

/* Nav Classes */
.nav-link.active {
  position: relative;
}

.nav-link.active:after {
  content: '';
  position: absolute;
  border-bottom: 2px solid white;
  bottom: 0;
  left: 0;
  width: 100%;
}

.nav-link:not(:active):hover {
  color: white;
}

/* Main Content */
main {
  margin-top: 50px;
}

/* Toast Classes */
.toast {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: -40px;
}

.toast .toast-header {
  color: white;
  justify-content: center;
}

.toast.bg-success .toast-header {
  background-color: var(--bs-success);
}

.toast.bg-danger .toast-header {
  background-color: var(--bs-danger);
}
